@import 'tailwindcss';

:root {
  --background: #ffe7bd; /* светлый фон */
  --foreground: #fff; /* тёмный текст */

  --primary: #1c381f;
  --secondary: #e36818;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Georgia, serif;
  @apply tracking-wide;
}
